<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head>
		<title></title>
		<link rel="stylesheet" 
		href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
		crossorigin="anonymous"/>
		<link rel=stylesheet href="/css/bootstrap.min.css">
		<link rel=stylesheet href="/css/index.css">
		<link rel=stylesheet href="/css/article.css">
	</head>
	<body>
		<%- include('../components/header.ejs', {user, error}) %>
		<div class="container" style="background: #9b95a036;">
		<!--	<% for(let i = 0; i < data.length; i++){%>
			<div class="article_container">
				<div class="data">
					<div class="title"><h2><%= data[i].title %></h2></div>
					<div class="body"><%= data[i].body %></div>
				</div>
				<div class="article-meta">
					<span>points</span>
					<span>comments</span>
				</div>
			</div>
			<% } %> -->
			<% for(let i = 0; i < data.length; i++){%>
			<div class="row">
				<div class="col">
					<div class="ibox">
						<div class="ibox-content">
							<a ui-sref="app.article" class="btn-link">
								<h2>
									 <%= data[i].title %>
								</h2>
							</a>
							<p class="lead">
								<%=data[i].body %>
							</p>
							<div class="small m-b-xs">
								<strong>Adam Novak</strong> 
								<span class="text-muted">
									<i class="fa fa-clock-o"></i> 28th Oct 2015</span>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="small text-right">
										<h5>Stats:</h5>
										<div> <i class="fa fa-comments"> </i>
											56 comments 
										</div>
										<i class="fa fa-eye"> </i>
										144 views
									</div>
								</div>
								<div class="col-md-4">
									<div class="small text-right">
										<h5>Actions:</h5>
										<div> <i class="fa fa-pencil"> </i>
											edit
										</div>
										<i class="fa fa-flag"> </i>
										report
									</div>
								</div>
								<div class="col-md-4">
									<h5>Tags:</h5>
									<button class="btn btn-primary btn-xs" type="button">
										Model</button>
									<button class="btn btn-white btn-xs" type="button">
										Publishing</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<% } %>
	</body>
</html>
