<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/singleArticle.css">
		<link rel="stylesheet" 
		href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
		crossorigin="anonymous"/>
</head>
<body>
	<%- include('../components/header.ejs', {user, error, success}) %>
	<div class="container">
		<div class="mt-5 row">
			<div class="col-md-12">
				<h1><%= title %></h1>
				<p class="s-body"><%= body %></p>
			</div>
		</div>
	<!--	<form action="#" method="post">
			<div class="row">
				<div class="col-12">
					<textarea name="message" class="form-control" id="message" 
						cols="30" rows="10" 
						placeholder="Comment..." style="height:5em"></textarea>
				</div>
				<div class="col-3 text-center">
					<button class="btn comment-form-btn mt-30 w-100" 
			 type="submit">Submit Comment</button>
				</div>
			</div>
		</form>
	</div>-->
	<div class="mt-5 mb-5">
		<div class="d-flex justify-content-center row">
			<div class="d-flex flex-column col-md-12">

				<div class="bg-white">
					<div class="d-flex flex-row add-comment-section mt-4 mb-4">
						<!--<img class="img-fluid img-responsive rounded-circle me-2" 
			   width="90" src="https://i.imgur.com/qdiP4DB.jpg" > -->
						<form action="./comment" method="post" class="w-100">
							<input type="hidden" name="id" value="<%= id %>" /> 
							<div class="row">
								<div class="col-10">
									<textarea name="content" class="form-control" 
										id="message" cols="30" rows="10" 
										placeholder="Comment..." 
										style="height:5em"></textarea>
								</div>
								<div class="col-2">
									<button 
										class="btn comment-form-btn mt-30 w-100" 
										type="submit">
										Submit Comment
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="commented-section mt-2">
						<div class="d-flex flex-row align-items-center">
							<h5 class="me-2">Corey oates</h5>
							<span class="dot mb-1"></span>
							<span class="mb-1 ms-2 text-muted">4 hours ago</span>
						</div>
						<div class="comment-text-sm">
							<span>uis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo consequat.</span></div>
						<div class="reply-section">
							<div class="d-flex flex-row align-items-center voting-icons">
								<i class="fa fa-sort-up fa-2x mt-3"></i>
								<span class="ms-2">10</span><span class="dot ms-2"></span>
								<i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
								<h6 class="ms-2 mt-1">Reply</h6>
							</div>
						</div>
						<% for(let i = 0; i < comments.length; i++){%>
						<div class="d-flex flex-row align-items-center">
							<h5 class="me-2 fst-italic"><%= comments[i].username %></h5>
							<span class="dot mb-1 fs-6"></span>
							<span style="display:none;"
								class="creation_time mb-1 ms-2 text-muted">
								<%= comments[i].created_at%></span>
						</div>
						<div class="comment-text-sm">
							<% for (const line of comments[i].content.split("<br>")) { %>
    							<p><%= line %></p>
							<% } %>
						</div>
						<div class="reply-section">
							<div class="d-flex flex-row align-items-center voting-icons">
								<i class="fa fa-sort-up fa-2x mt-3"></i>
								<span class="ms-2">0</span><span class="dot ms-2"></span>
								<i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i>
								<h6 class="ms-2 mt-1">Reply</h6>
							</div>
						<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/script/articleById.js">
</script>
</html>
